# local config
.vscode
.env
poetry.lock

# venv
.venv
.tox
/venv

# cache and tempfiles
*.pyc
tmp

# build, metadata and distributions
/dist
/build
*.egg-info

# useless documents
archive
/doc/*
!/doc/source
!/doc/requirements.txt
