# local config
.vscode
.env
uv.toml
package-lock.json

# venv
.venv
.tox
/venv
node_modules

# cache and tempfiles
__pycache__
*.pyc
tmp
/data

# build, metadata and distributions
/dist
/build
/doc/source/locale/**/*.mo
*.egg-info

# useless documents
/archive
/doc/*
!/doc/source
