[tool.poetry]
name = "aioqzone"
version = "0.8.2.dev1"
description = "Python wrapper for Qzone web login and Qzone http api."
authors = ["aioqzone <zzzzss990315@gmail.com>"]
license = "AGPL-3.0"
readme = "README.md"
homepage = "https://github.com/aioqzone/aioqzone"
repository = "https://github.com/aioqzone/aioqzone"
documentation = "https://aioqzone.github.io/aioqzone"
keywords = ["qzone-api", "autologin", "asyncio-spider"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Framework :: aiohttp",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Typing :: Typed"
]

packages = [
    { include = "aioqzone", from = "src" },
    { include = "jssupport", from = "src" },
    { include = "qqqr", from = "src" }
]
exclude = ["*.js"]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/aioqzone/aioqzone/issues"

[tool.poetry.dependencies]
python = "^3.7"
aiohttp = "^3.8.1"
pydantic = "^1.9.0"
pytz = "^2022.1"
lxml = "^4.8.0"
cssselect = "^1.1.0"
numpy = [
    {version = "~1.21.2", python = ">=3.7,<3.8"},
    {version = "^1.22.3", python = "^3.8"}
]
opencv-python-headless = "^4.5.5"
# extras: dev
pre-commit = {version = "^2.17.0", optional = true}
black = {version = "^22.1.0", optional = true}
isort = {version = "^5.10.1", optional = true}
# extras: doc
Sphinx = {version = "^4.5.0", optional = true}
autodoc-pydantic = {version = "^1.6.1", optional = true}
sphinx-autodoc-typehints = {version = "<1.16.0", optional = true}
sphinx-rtd-theme = {version = "^1.0.0", optional = true}
rsa = "^4.8"

[tool.poetry.dev-dependencies]
pytest = "^7.0.1"
pytest-asyncio = "^0.18.2"

[tool.poetry.extras]
dev = [
    "pre-commit",
    "black",
    "isort"
]
doc = [
    "Sphinx",
    "autodoc-pydantic",
    "sphinx-autodoc-typehints",
    "sphinx-rtd-theme"
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


# customize begin
[tool.pytest.ini_options]
pythonpath = 'src'
markers = [
    "needuser: Need user interaction, DO NOT use in ci",
    "incremental: xfail succ cases if pred case failed or skipped",
    "upstream: Test cannot run normally due to upstream problems",
]
asyncio_mode = 'strict'
log_cli = 1
log_cli_level = 'WARNING'


[tool.isort]
profile = "black"
line_length = 99

[tool.black]
line-length = 99
target-version = ['py37']
