# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Dev CI

on:
  push:
    paths:
      - "src/**"
      - "test/**"
      - ".github/workflows/ci.yml"
      - ".github/workflows/test.yml"
      - "poetry.lock"
    branches:
      - dev
      - dev/**

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/test.yml
    if: "!contains(github.event.head_commit.message, '@no-test')"
    with:
      PYTEST_ARGS: -m "not needuser and not upstream" test
    secrets:
      TEST_UIN: ${{ secrets.TEST_UIN }}
      TEST_PASSWORD: ${{ secrets.TEST_PASSWORD }}

  merge:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: beta

      - name: Get beta SHA
        id: beta-sha
        run: echo "::set-output name=sha::$(git rev-parse --short HEAD)"

      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Generate a changelog
        uses: orhun/git-cliff-action@v1
        id: git-cliff
        with:
          config: cliff.toml
          args: -t ${{ needs.test.outputs.package-version }} ${{ steps.beta-sha.outputs.sha }}..HEAD
        env:
          OUTPUT: CHANGELOG.md

      - name: Create Pull Request
        uses: repo-sync/pull-request@v2
        if: "!contains(github.event.head_commit.message, '@no-pr')"
        with:
          destination_branch: beta
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_title: ${{ needs.test.outputs.package-version }}
          pr_template: CHANGELOG.md
