# install dependency and current package
name: Test Poetry Project

on:
  workflow_call:
    inputs:
      PYTEST_ARGS:
        required: true
        type: string
    secrets:
      TEST_UIN:
        required: true
      TEST_PASSWORD:
        required: true
    outputs:
      package-version:
        description: version of this python package output by poetry
        value: ${{ jobs.install-test.outputs.package-version }}

jobs:
  install-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.7']
    outputs:
      package-version:
        ${{ steps.version_step.outputs.package }}

    steps:
      #----------------------------------------------
      #   check-out repo and set-up node & python
      #----------------------------------------------
      - uses: actions/checkout@v3
      - uses: bahmutov/npm-install@v1
        with:
          useLockFile: false
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      #----------------------------------------------
      #  -----  install & configure poetry  -----
      #----------------------------------------------
      - name: Install Poetry Action
        uses: snok/install-poetry@v1
        with:
          virtualenvs-in-project: true
      - name: Get Package Version
        id: version_step
        run: echo "::set-output name=package::$(poetry version -s)"
      - name: Get Package Version
        id: version_step
        run: echo "::set-output name=package::$(poetry version -s)"
      #----------------------------------------------
      #       load cached venv if cache exists
      #----------------------------------------------
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v3
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('poetry.lock') }}
      #----------------------------------------------
      # install your root project, if required
      #----------------------------------------------
      - name: Install library
        run: poetry install --no-interaction -vv
      #----------------------------------------------
      #    add matrix specifics and run test suite
      #----------------------------------------------
      - name: Test with pytest
        env:
          TEST_UIN: ${{ secrets.TEST_UIN }}
          TEST_PASSWORD: ${{ secrets.TEST_PASSWORD }}
        run: |
          poetry run pytest ${{ inputs.PYTEST_ARGS }}
